* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  background: var(--global-color-neutral-1000);
}

body {
  margin: 0;
  font-family: var(--component-font-family);
  font-size: var(--component-font-size-body);
  color: var(--component-text-main);
  background: var(--global-color-neutral-1000);
  overflow: hidden;
}

#app {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
