VITE_GOYAIS_API_BASE_URL=/api/v1
VITE_GOYAIS_DEV_PROXY_TARGET=http://127.0.0.1:8080
VITE_GOYAIS_TENANT_ID=t1
VITE_GOYAIS_WORKSPACE_ID=w1
VITE_GOYAIS_USER_ID=u1
VITE_GOYAIS_ROLES=member
VITE_GOYAIS_POLICY_VERSION=v0.1
VITE_GOYAIS_USE_MOCK=false
